/* Mobile */

@media (width < 1024px) {
    .delivery {
        padding: 16px 16px 9px 16px;
    }

    .delivery__top-title {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
    }
    
    .delivery__list {
        margin-top: 10px;
        margin-bottom: 3px;
    }

    .delivery__list-item {
        flex-direction: column
    }

    .delivery__item-title {
        width: 100%;
    }

    .delivery__item-info {
        width: 100%;
    }

    .delivery__item-products {
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .delivery__return {
        margin-left: 8px;
    }

    .delivery__return-text {
        width: calc(100% - 30px);
    }
}