.total {
    width: 37%;
    padding: 24px;
    background: var(--white);
    border-radius: 16px;
}

.total__price {
    margin-bottom: 24px;
}

.total__price-row {
    display: flex;
    justify-content: space-between;
}

.price__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.total__price-row--sum .price__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    margin: 0 0 9px 0;
}

.total__item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.total__top-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.total__top-change {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.total__item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

.total__info-text {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 4px 0;
}

.total__info-date {
    color: var(--magenta);
    border-bottom: 1px dotted rgba(203, 17, 171, 0.20);
    margin: 0;
    font-size: 13px;
    line-height: 16px;
}

.total__item-return {
    background: var(--smoky);
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.total__item-return svg {
    margin-right: 8px;
    width: 45px;
}

.total__return-text {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.total__return-text span {
    color: var(--green);
    border-bottom: 1px dotted rgba(12, 180, 119, 0.20);
}

.total__return-text-info {
    display: none;
}

.total__item-card {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.total__item-card-icon {
    border-radius: 4px;
    background: var(--background-smoky, #F6F6FA);
    padding: 7px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
}

.total__card-num {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.total__item-time {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 12px;
    background: var(--smoky);
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.total__item-check, .total__time-text {
    font-size: 13px;
    line-height: 16px; 
}

.total__time-text {
    margin: 8px 0 0 0;
}

.total__order {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: var(--magenta);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    height: 44px;
    border-radius: 8px;
    margin-bottom: 12px;
    cursor: pointer;
}

.total__rules {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total__rules svg {
    margin-right: 8px;
}

.total__rules-text {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    width: calc(100% - 21px);
}