/* Desktop */

@media (width >= 1024px) {
    .total__item-return {
        position: relative;
    }

    .total__return-text-green {
        margin-left: 4px;
        cursor: pointer;
    }

    .total__return-text-info {
        display: none;
        padding: 10px 16px 14px 16px;
        font-size: 13px;
        line-height: 16px;
        position: absolute;
        width: 288px;
        bottom: -100%;
        left: -16px;
        background: var(--white);
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.30)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
        border-radius: 8px;
        color: var(--black);
    }

    .total__return-text-green:hover + .total__return-text-info {
        display: flex;
    }
}