/* radio-borderbox */

.radio-border {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.radio-border__input  {
    appearance: none;
    margin: 0;
}

.radio-border span {
    border: 2px solid rgba(203, 17, 171, 0.15);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 9px 0 11px 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

.radio-border__input:checked + span {
    border: 2px solid var(--magenta);
}