/* Goods */

.goods__accordion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.goods__hide-btn {
    background: none;
    border: none;
    background-image: url('../../../images/icons/arrow-top.svg');
    width: 20px;
    height: 20px;
}

.goods__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

.goods__info {
    display: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

.goods__accordion--products-hide {
    border-bottom: 1px solid #0000001A;
    padding-bottom: 20px;
}

.goods__accordion--products-hide .goods__check {
    display: none;
}

.goods__accordion--products-hide .goods__hide-btn , .goods__accordion--productsmissing-hide .goods__hide-btn {
    transform: rotate(180deg);
}

.goods__accordion--products-hide .goods__info {
    display: initial;
}

.goods__accordion--productsmissing-hide {
    margin-bottom: 42px;
}